AudioConversionTemplate/
AudioConversionProject/
audio_modder.spec
build/
dist/
tests/mockup/
vgmstream-win64/
vgmstream-linux/
vgmstream-macos/
__pycache__/
**/.tmp
**/.venv
**/.vscode
**/database
**/log.txt
**/*.pickle
